.foot{
    width: 100vw;
    height: 20vh;
    display: flex;
    background-color: #1597BB;
}
:root{
    --primary: #1597BB;
    --secondary: aliceblue;
}
*{
    scroll-behavior: smooth;
}
  

.footerItems >a{
    background-color: transparent;
    text-decoration: none;
    color: aliceblue;

}

.footerItems{
    /* border: 2px solid red; */
    background-color: var(--primary);
    width: 800px;
    margin-left: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}  
    
