/* Customized styles for the Contact component */

.contact-container {
    background-color: #84c1fb;
    position: absolute;
    left: 25%;
    top: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;

    
  }
  
  .contact-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    position: relative;
  }
  
  .contact-title {
    font-size: 2.25rem;
    letter-spacing: -0.02em;
    font-weight: 800;
    text-align: center;
    color: #000000;
  }
  
  .contact-subtitle {
    font-weight: 300;
    color: #6b7280;
    font-size: 1.25rem;
    text-align: center;
  }
  
  .contact-form {
    margin-bottom: 2rem;
  }
  
  .contact-input {
    border: 1px solid #ced4da;
    padding: 0.5rem;
    width: 100%;
    font-size: 0.875rem;
    border-radius: 0.25rem;
  }
  
  .contact-textarea {
    border: 1px solid #ced4da;
    padding: 0.5rem;
    width: 100%;
    font-size: 0.875rem;
    border-radius: 0.25rem;
  }
  
  .contact-button {
    padding: 0.75rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background-color: #1a202c;
    border: 1px solid #1a202c;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .contact-close-button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #1a202c;
    background-color: #ffffff;
    border: 1px solid #1a202c;
    border-radius: 0.25rem;
    cursor: pointer;
    position: absolute;
    left: 42rem;
    top: 1rem;
  }
  
  
  .popup-content{
    display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  }